* {
    margin: 0;
    padding: 0;
}
.h1 {
    margin-left: 10px;
    padding-top: 30px;
    color: white;
    margin-bottom: 80px;
}
.background {
    background-image: url(https://cdn.wallpapersafari.com/31/54/Hz7w8E.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.link {
    display: inline-block;
    background-color: yellowgreen;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  
  .margin_2 {
    margin-right: 30px;
  }