.h1 {
  margin-left: 10px;
  padding-top: 30px;
  color: black;
}
.backgr {
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.a {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.a:hover {
  background-color: green;
}
.margin_2 {
  margin-right: 30px;
}